USE [GD2C2023]
GO
/****** Object:  Table [gd_esquema].[Maestra]    Script Date: 4/9/2023 19:03:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gd_esquema].[Maestra](
	[INMUEBLE_CODIGO] [numeric](18, 0) NULL,
	[INMUEBLE_NOMBRE] [nvarchar](100) NULL,
	[INMUEBLE_DESCRIPCION] [nvarchar](100) NULL,
	[INMUEBLE_DIRECCION] [nvarchar](100) NULL,
	[INMUEBLE_SUPERFICIETOTAL] [numeric](18, 2) NULL,
	[INMUEBLE_ANTIGUEDAD] [numeric](18, 0) NULL,
	[INMUEBLE_EXPESAS] [numeric](18, 2) NULL,
	[INMUEBLE_CARACTERISTICA_WIFI] [numeric](18, 0) NULL,
	[INMUEBLE_CARACTERISTICA_CABLE] [numeric](18, 0) NULL,
	[INMUEBLE_CARACTERISTICA_CALEFACCION] [numeric](18, 0) NULL,
	[INMUEBLE_CARACTERISTICA_GAS] [numeric](18, 0) NULL,
	[INMUEBLE_BARRIO] [nvarchar](100) NULL,
	[INMUEBLE_LOCALIDAD] [nvarchar](100) NULL,
	[INMUEBLE_PROVINCIA] [nvarchar](100) NULL,
	[INMUEBLE_TIPO_INMUEBLE] [nvarchar](100) NULL,
	[PROPIETARIO_NOMBRE] [nvarchar](100) NULL,
	[PROPIETARIO_APELLIDO] [nvarchar](100) NULL,
	[PROPIETARIO_DNI] [numeric](18, 0) NULL,
	[PROPIETARIO_FECHA_REGISTRO] [datetime] NULL,
	[PROPIETARIO_TELEFONO] [numeric](18, 0) NULL,
	[PROPIETARIO_MAIL] [nvarchar](255) NULL,
	[PROPIETARIO_FECHA_NAC] [datetime] NULL,
	[INMUEBLE_CANT_AMBIENTES] [nvarchar](100) NULL,
	[INMUEBLE_ORIENTACION] [nvarchar](100) NULL,
	[INMUEBLE_DISPOSICION] [nvarchar](100) NULL,
	[INMUEBLE_ESTADO] [nvarchar](100) NULL,
	[ANUNCIO_CODIGO] [numeric](19, 0) NULL,
	[ANUNCIO_FECHA_PUBLICACION] [datetime] NULL,
	[ANUNCIO_PRECIO_PUBLICADO] [numeric](18, 2) NULL,
	[ANUNCIO_COSTO_ANUNCIO] [numeric](18, 2) NULL,
	[ANUNCIO_FECHA_FINALIZACION] [datetime] NULL,
	[ANUNCIO_TIPO_OPERACION] [nvarchar](100) NULL,
	[ANUNCIO_MONEDA] [nvarchar](100) NULL,
	[ANUNCIO_ESTADO] [nvarchar](100) NULL,
	[ANUNCIO_TIPO_PERIODO] [nvarchar](100) NULL,
	[AGENTE_NOMBRE] [nvarchar](100) NULL,
	[AGENTE_APELLIDO] [nvarchar](100) NULL,
	[AGENTE_DNI] [numeric](18, 0) NULL,
	[AGENTE_FECHA_REGISTRO] [datetime] NULL,
	[AGENTE_TELEFONO] [numeric](18, 0) NULL,
	[AGENTE_MAIL] [nvarchar](100) NULL,
	[AGENTE_FECHA_NAC] [datetime] NULL,
	[SUCURSAL_CODIGO] [numeric](18, 0) NULL,
	[SUCURSAL_NOMBRE] [nvarchar](100) NULL,
	[SUCURSAL_DIRECCION] [nvarchar](100) NULL,
	[SUCURSAL_TELEFONO] [nvarchar](100) NULL,
	[SUCURSAL_LOCALIDAD] [nvarchar](100) NULL,
	[SUCURSAL_PROVINCIA] [nvarchar](100) NULL,
	[VENTA_CODIGO] [numeric](18, 0) NULL,
	[VENTA_FECHA] [datetime] NULL,
	[VENTA_PRECIO_VENTA] [numeric](18, 2) NULL,
	[VENTA_COMISION] [numeric](18, 2) NULL,
	[COMPRADOR_NOMBRE] [nvarchar](100) NULL,
	[COMPRADOR_APELLIDO] [nvarchar](100) NULL,
	[COMPRADOR_DNI] [numeric](18, 0) NULL,
	[COMPRADOR_FECHA_REGISTRO] [datetime] NULL,
	[COMPRADOR_TELEFONO] [numeric](18, 0) NULL,
	[COMPRADOR_MAIL] [nvarchar](100) NULL,
	[COMPRADOR_FECHA_NAC] [datetime] NULL,
	[VENTA_MONEDA] [nvarchar](100) NULL,
	[PAGO_VENTA_IMPORTE] [numeric](18, 2) NULL,
	[PAGO_VENTA_MONEDA] [nvarchar](100) NULL,
	[PAGO_VENTA_COTIZACION] [numeric](18, 2) NULL,
	[PAGO_VENTA_MEDIO_PAGO] [nvarchar](100) NULL,
	[ALQUILER_CODIGO] [numeric](18, 0) NULL,
	[ALQUILER_FECHA_INICIO] [datetime] NULL,
	[ALQUILER_FECHA_FIN] [datetime] NULL,
	[ALQUILER_CANT_PERIODOS] [numeric](18, 0) NULL,
	[ALQUILER_DEPOSITO] [numeric](18, 2) NULL,
	[ALQUILER_COMISION] [numeric](18, 2) NULL,
	[ALQUILER_GASTOS_AVERIGUA] [numeric](18, 2) NULL,
	[INQUILINO_NOMBRE] [nvarchar](100) NULL,
	[INQUILINO_APELLIDO] [nvarchar](100) NULL,
	[INQUILINO_DNI] [numeric](18, 0) NULL,
	[INQUILINO_FECHA_REGISTRO] [datetime] NULL,
	[INQUILINO_TELEFONO] [numeric](18, 0) NULL,
	[INQUILINO_MAIL] [nvarchar](100) NULL,
	[INQUILINO_FECHA_NAC] [datetime] NULL,
	[ALQUILER_ESTADO] [nvarchar](100) NULL,
	[DETALLE_ALQ_NRO_PERIODO_INI] [numeric](18, 0) NULL,
	[DETALLE_ALQ_NRO_PERIODO_FIN] [numeric](18, 0) NULL,
	[DETALLE_ALQ_PRECIO] [numeric](18, 2) NULL,
	[PAGO_ALQUILER_CODIGO] [numeric](18, 0) NULL,
	[PAGO_ALQUILER_FECHA] [datetime] NULL,
	[PAGO_ALQUILER_FECHA_VENCIMIENTO] [datetime] NULL,
	[PAGO_ALQUILER_NRO_PERIODO] [numeric](18, 0) NULL,
	[PAGO_ALQUILER_DESC] [nvarchar](100) NULL,
	[PAGO_ALQUILER_FEC_INI] [datetime] NULL,
	[PAGO_ALQUILER_FEC_FIN] [datetime] NULL,
	[PAGO_ALQUILER_IMPORTE] [numeric](18, 2) NULL,
	[PAGO_ALQUILER_MEDIO_PAGO] [nvarchar](100) NULL
) ON [PRIMARY]
GO
